<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="component-dos-hijo-styles.html">
<link rel="import" href="./bower_components/cells-molecule-input/cells-molecule-input.html"/>

<dom-module id="component-dos-hijo">
  <script src="component-dos-hijo.js"></script>
</dom-module>